.btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;

  svg {
    height: 55%;
    width: 55%;
    transition: transform 0.3s ease-in-out;
  }

  & svg #Arrow {
    fill: var(--text-color);
  }

  &--open {
    background-color: #dc412e;

    & svg {
      transform: rotate(180deg);
    }

    & svg #Arrow {
      fill: #fff;
    }
  }
}
