@font-face {
  font-family: 'Gordita';
  src: url('./assets/fonts/hinted-GorditaRegular.ttf') format('truetype'),
    url('./assets/fonts/hinted-GorditaBold.ttf') format('truetype'),
    url('./assets/fonts/hinted-GorditaMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fakt';
  src: url('./assets/fonts/fakt.ttf') format('truetype');
}

:root {
  --font-family: 'Gordita';
  --label-font-size: 1rem;
  --label-top: -0.87rem;
  --input-font-size: 4rem;
  --input-font-weight: 100;
  --text-color-dark: rgba(0, 0, 0, 0.9);
  --text-color: rgba(0, 0, 0, 0.7);
  --text-color-light: rgba(0, 0, 0, 0.5);
  --hover-color: rgba(0, 0, 0, 0.03);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
